header {
    height: 50px;
    background-color: rgb(41 0 217);
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

header p {
    color: black;
    font-size: 32px;
    text-transform: capitalize;
}